<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About us | Result Processing System</title>
  <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font/css/all.min.css">
</head>

<body>
  <div class="header p-3 bg-secondary">
    <h1 class="text-white">Admin Dashboard</h1>
  </div>
  <div class="row">
    <div class="bg-secondary col-md-2 p-3" style="height:calc(100vh - 100px);overflow: hidden;">
      <a href="/admin/dashboard" class="btn btn-outline-light w-100 mt-2">Home <i class="fas fa-home"></i></a>
      <a href="/student/reg" class="btn btn-outline-light w-100 mt-2">Register student <i class="fas fa-user"></i>
      </a>
      <a href="/add/result" class="btn btn-outline-light w-100 mt-2">Add result <i class="fas fa-plus"></i>
      </a>
      <a href="/students/all" class="btn btn-outline-light w-100 mt-2">View all students <i class="fas fa-eye"></i> </a>
      <a href="/admin/about" class="btn btn-light w-100 mt-2">About us <i class="fas fa-users"></i></a>
      <div class="mt-5 text-center text-white">
        <p>Powered by Hi-Tech</p>
        <p>&copy; 2022</p>
      </div>
    </div>
    <div class="col-md-10">
      <div class="container my-3">
        <h1>About Us</h1>
        <h4>This system is developed using: </h4>

        <p><b>Front end</b></p>
        <ol>
          <li>EJS</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Font awesome</li>
        </ol>
        <p><b>Back end</b></p>
        <ol>
          <li>NodeJS</li>
          <li>ExpressJS</li>
          <li>Helmet</li>
        </ol>
        <p><b>Database</b></p>
        <ol>
          <li>MongoDB</li>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>