<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard | Result Processing System</title>
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font/css/all.min.css">
</head>

<body>
    <div class="header p-3 bg-secondary">
        <h1 class="text-white">Admin Dashboard</h1>
    </div>
    <div class="row">
        <div class="bg-secondary col-md-2 p-3" style="height:calc(100vh - 100px);overflow: hidden;">
            <a href="/admin/dashboard" class="btn btn-outline-light w-100 mt-2">Home <i class="fas fa-home"></i></a>
            <a href="/student/reg" class="btn btn-light w-100 mt-2">Register student <i class="fas fa-user"></i>
            </a>
            <a href="/add/result" class="btn btn-outline-light w-100 mt-2">Add result <i class="fas fa-plus"></i>
            </a>
            <a href="/students/all" class="btn btn-outline-light w-100 mt-2">View all students <i
                    class="fas fa-eye"></i> </a>
            <a href="/admin/about" class="btn btn-outline-light w-100 mt-2">About us <i class="fas fa-users"></i></a>
            <div class="mt-5 text-center text-white">
                <p>Powered by Hi-Tech</p>
                <p>&copy; 2022</p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <% if(message) {%>
                    <form action="/register" method="post" class="border p-4 my-3">
                        <div>
                            <h1>Add student</h1>
                        </div>
                        <div class="alert alert-danger">
                            <p>
                                <%= message %>
                            </p>
                        </div>
                        <div class="form-group mt-3">
                            <input name="fname" class="form-control" placeholder="first name" type="text" class="fname">
                        </div>
                        <div class="form-group mt-3">
                            <input name="lname" class="form-control" placeholder="last name" type="text" class="lname">
                        </div>

                        <div class="form-group mt-3">
                            <input name="matnumber" class="form-control" placeholder="Matric number" type="text"
                                class="matnumber">
                        </div>
                        <div class="form-group mt-3">
                            <select name="level" class="form-select">
                                <option>---------Select Level---------</option>
                                <option value="ND I">ND I</option>
                                <option value="ND II">ND II</option>
                                <option value="HND I">HND I</option>
                                <option value="HND II">ND II</option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <select name="dept" class="form-select">
                                <option>---------Select Depertement---------</option>
                                <option value="computer science">Computer Science</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="my-3">
                                    <div class="my2">
                                        <h3>Select Courses</h3>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="COM121">COM 121
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="COM122">COM 122
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="COM123">COM 123
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="COM124">COM 124
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="COM125">COM 125
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="COM126">COM 126
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-3">
                                    <div class="my2">
                                        <h3>Select Courses</h3>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="GNS127">GNS 127
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="BAM212">BAM 212
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="MTN124">MTH 124
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="STA111">STA 111
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="STA112">STA 112
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="courses" value="STA113">STA 113
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-group mt-3">
                            <button type="submit" class="btn btn-success">Create account <i
                                    class="fas fa-user"></i></button>
                        </div>
                    </form>
                    <%} else {%>
                        <form action="/register" method="post" class="border p-4 my-3">
                            <div>
                                <h1>Add student</h1>
                            </div>
                            <div class="form-group mt-3">
                                <input name="fname" class="form-control" placeholder="first name" type="text"
                                    class="fname">
                            </div>
                            <div class="form-group mt-3">
                                <input name="lname" class="form-control" placeholder="last name" type="text"
                                    class="lname">
                            </div>

                            <div class="form-group mt-3">
                                <input name="matnumber" class="form-control" placeholder="Matric number" type="text"
                                    class="matnumber">
                            </div>
                            <div class="form-group mt-3">
                                <select name="level" class="form-select">
                                    <option>---------Select Level---------</option>
                                    <option value="ND I">ND I</option>
                                    <option value="ND II">ND II</option>
                                    <option value="HND I">HND I</option>
                                    <option value="HND II">ND II</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <select name="dept" class="form-select">
                                    <option>---------Select Depertement---------</option>
                                    <option value="computer science">Computer Science</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="my-3">
                                        <div class="my2">
                                            <h3>Select Courses</h3>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="COM121">COM 121
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="COM122">COM 122
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="COM123">COM 123
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="COM124">COM 124
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="COM125">COM 125
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="COM126">COM 126
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="my-3">
                                        <div class="my2">
                                            <h3>Select Courses</h3>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="GNS127">GNS 127
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="BAM212">BAM 212
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="MTN124">MTH 124
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="STA111">STA 111
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="STA112">STA 112
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="courses" value="STA113">STA 113
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-group mt-3">
                                <button type="submit" class="btn btn-success">Create account <i
                                        class="fas fa-user"></i></button>
                            </div>
                        </form>
                        <%}%>
            </div>
        </div>
    </div>
</body>

</html>